// Here you can add other styles
.test {
  margin-right: 100px !important;
}

.test1 {
  margin-right: 10px !important;
}

.main_color {
  color: #cc0e74;
}

.p-20 {
  padding: 20px;
}

.p-16 {
  padding: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.css-knqc4i-MuiDialogActions-root {
  display: none !important;
}